body{
	font-family: 'Poiret One', cursive;
}
.center-align{
	text-align: center;
}
.schoolImg{
	width:150px;
	height:150px;
	border-radius: 50%;
}
.paddingTopBottom{
	padding-bottom: 10%;
	padding-top: 10%;
}
.contentPadding{
	padding:5%;
}
#myImage{
	border-radius: 5px 40px 5px;
	width:150px;
	height:200px;
}
.aboutSection{
	background: #373737;
	color:#f26a3c;
}
.navSection{
	color:#f26a3c;
	background: #373737;
}
#fontColorOrange{
	color:#f26a3c;
}
i{
	background:#f26a3c;
}
.educationSection{
	color:#f26a3c;
	background: #373737;
}
h2{
	font-size: 40px;
	font-weight: bold;
}
h3{
	font-weight: bold;
	color: #373737;
}
.educationSection h3{
	color: #f26a3c;
}
.navbar-toggle.collapsed .icon-bar {
 	background: #f26a3c;
}
#backgroundOrange{
	background: #f26a3c;
}
.h2{
	font-weight: bold;
}

.portfolioImg{
	width:250px;
	height:200px;
	border: 1px solid black;
	box-shadow: 
}
#portfolio{

}

#contact{
	background: #373737;
	color: #f26a3c;
}